POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
DATABASE_URL=postgresql://changeme:changeme@db:5432/changeme
LOCAL_DATABASE_URL=postgresql://changeme:changeme@localhost:5432/changeme
REFRESH_SECRET=valeuraleatoire
JWT_SECRET=valeuraleatoire
NEXT_PUBLIC_DEV_HOST=adresse ip du serveur

# Chatbot RAG
GROQ_API_KEY=ta_cle_groq
OLLAMA_URL=http://ollama:11434